
# Office temporary files
~$*

# The following sections constitute a list of Excel file extensions that support VBA.
# (xls, xlsb, xlsm, xlt, xltm, xla, xlam)
*.[xX][lL][sS]
*.[xX][lL][sS][bB]
*.[xX][lL][sS][mM]
*.[xX][lL][tT]
*.[xX][lL][tT][mM]
*.[xX][lL][aA]
*.[xX][lL][aA][mM]
